<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pacifico|Roboto+Slab:400,700" rel="stylesheet">
		<!-- O normalize está em primeiro pela hierarquia, se estivesse em segundo algumas classes dele substituiriam a do estilo.css -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/estilo.css">
		<!-- Definindo o Favicon-->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon.ico" type="image/x-icon">
		<!-- Tag Viewport-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/javaScript.js" defer async charset="utf-8"></script>
		<title>Matrícula| Faculdade Impacta Tecnologia</title>
</head>
<body>
  <nav>
    <a href="index.html"><img src="img/logo.jpg" class="logo" alt=""></a>
    <ul>
      <li><a href="GradeCursos.html">Cursos</a></li>
      <li><a class="#servicos" href="novo_curso.html">Novo Curso</a></li>
      <li><a href="nova_disciplina.html">Nova Disciplina</a></li>
			<li><a href="cadastrarAluno.html">Novo Aluno</a></li>
			<li><a href="matricula.html">Matrículas</a></li>
      <li><a class="btn-login" href="login.html">LOGIN</a></li>
    </ul>
  </nav>
  <section id="sobreTitulo">
		<h1>Matrícula</h1>
		<p>Sistemas de Informação | Gestão de Projetos | 2° 2018 | Turma A </p>
  </section>
        <form id="tabela" action="" method="post">

        <table>
              <tr>
                  <td>Nome: Pedro Santos Miguel</td>
                  <td> RA :1801519</td>
                  <td>
                    <form>
                      <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                      <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>
              </tr>

              <tr>
                  <td>Nome: Luciano Hulk Biancho</td>
                  <td> RA :1801462</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                  </td>
              </tr>

              <tr>
                  <td>Nome: Miguel Afonso Queiros</td>
                  <td> RA :1801518</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>

              <tr>
                  <td>Nome: Felipe Pedroso Cabral </td>
                  <td> RA :1801517</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>

              <tr>
                  <td>Nome: Armando Junqueiro Queiros</td>
                  <td> RA :1801516</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

               </tr>

               <tr>
                  <td>Nome: Cleiton Alves Feitosa</td>
                  <td> RA :1801515</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>

              <tr>
                  <td>Nome: David Oliveira de Carvalho</td>
                  <td> RA :1801514</td>
                  <td>
                    <form>
                      <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                      <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>
              </tr>


              <tr>
                  <td>Nome: Karine Maria Gonçalves Cortez</td>
                  <td> RA :1801513</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                  </td>
              </tr>

              <tr>
                  <td>Nome: Gustavo Pereira dos Santos</td>
                  <td> RA :1801512</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>

              <tr>
                  <td>Nome: Leandro José Paulo da Silva</td>
                  <td> RA :1801511</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>

              <tr>
                  <td>Nome: Maria Nainam Barreto</td>
                  <td> RA :1801510</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

               </tr>

               <tr>
                  <td>Nome: Silvino Araújo dos Santos</td>
                  <td> RA :1801509</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>
              <tr>
                  <td>Nome: Jullieny Melo de Oliveira</td>
                  <td> RA :1801508</td>
                  <td>
                    <form>
                      <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                      <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>
              </tr>


              <tr>
                  <td>Nome: Daniel dos Santos Roch</td>
                  <td> RA :1801507</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                  </td>
              </tr>

              <tr>
                  <td>Nome: Itamar de Carvalho Souz</td>
                  <td> RA :1801506</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>

              <tr>
                  <td>Nome: Maria Auxiliadora da Silva</td>
                  <td> RA :1801505</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>

              <tr>
                  <td>Nome: Elisabete Joaquina da Silva</td>
                  <td> RA :1801504</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

               </tr>

               <tr>
                  <td>Nome: Carlos Andrade Da Silva</td>
                  <td> RA :1801503</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>
              <tr>
                  <td>Nome: Tatiane Lima Nascimento</td>
                  <td> RA :1801502</td>
                  <td>
                    <form>
                      <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                      <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>
              </tr>


              <tr>
                  <td>Nome: Alfredo Domingues Pedroso</td>
                  <td> RA :1801501</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                  </td>
              </tr>

              <tr>
                  <td>Nome: Bruno Wayne Banner</td>
                  <td> RA :1801500</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>

              <tr>
                  <td>Nome: Fabiano Cesar Andrade</td>
                  <td> RA :1801499</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>

              <tr>
                  <td>Nome: Miguel Orlindo Queiros</td>
                  <td> RA :1801498</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

               </tr>

               <tr>
                  <td>Nome: Alexandre Santos de Souza</td>
                  <td> RA :1801497</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>
              <tr>
                  <td>Nome: Chiara Santos Queiros </td>
                  <td> RA :1801496</td>
                  <td>
                    <form>
                      <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                      <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>
              </tr>


              <tr>
                  <td>Nome: Dominique Wollmann </td>
                  <td> RA :1801495</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                  </td>
              </tr>

              <tr>
                  <td>Nome: Marcello Henryque da Silva </td>
                  <td> RA :1801494</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>

              <tr>
                  <td>Nome: Ricarte De Souza Veloso</td>
                  <td> RA :1801493</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>

              <tr>
                  <td>Nome: Luciana Dutra Cavalcanti </td>
                  <td> RA :1801492</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

               </tr>

               <tr>
                  <td>Nome: Denys Vytor de Queiroz Silva</td>
                  <td> RA :1801491</td>
                  <td>
                    <form>
                          <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                          <input type="radio" name="avaliacao" value="reprovado">Cancelado
                    </form>
                  </td>

              </tr>

  </table>
          <div id="navegacao">
          <ul>
            <li><a href="matricula.html">1</a></li>
            <li><a href="pag2.html">2</a></li>
            <li><a href="pag3.html">3</a></li>
          </ul>
        </div>
        <div class="buttonForm">
					<button class="btn-login2" type="submit" name="button">Enviar</button>
        </div>
      </form>

             <footer  style="background-color: #4d4d4d; padding-top: 10px;">
                <p style="font-size: 12px;">Projeto LMS by Black Lotus, 2018</p>
            </footer>

</body>
</html>
