<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pacifico|Roboto+Slab:400,700" rel="stylesheet">
  <!-- O normalize está em primeiro pela hierarquia, se estivesse em segundo algumas classes dele substituiriam a do estilo.css -->
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/estilo.css">
  <!-- Definindo o Favicon-->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <!-- Tag Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Nova Disciplina| Faculdade Impacta de Tecnologia </title>
</head>
<body>
        <nav>
                <a href="index.html"><img src="img/logo.jpg" class="logo" alt=""></a>
                <ul>
                    <li><a href="GradeCursos.html">Cursos</a></li>
                    <li><a class="#servicos" href="novo_curso.html">Novo Curso</a></li>
                    <li><a href="#portfolio">Nova Disciplina</a></li>
                    <li><a href="cadastrarAluno.html">Novo Aluno</a></li>
              			<li><a href="matricula.html">Matrículas</a></li>
                    <li><a class="btn-login" href="login.html">LOGIN</a></li>
                </ul>
            </nav>
<section id="sobreTitulo">
  <div class="center">

      <h1>Nova Disciplina</h1>
      <p>Caso uma de nossas disciplinas não seja de seu agrado, preencha os campos abaixo para analisarmos a criação de uma nova disciplina. </p>

      <label for="">
        <input type="text" name="Formulario_Nova_disciplina_nome" class="campoCadastro" width="150px" name="" id="" placeholder="Seu nome completo">
      </label>

      <label for="">
        <input type="text" name="Formulario_Nova_disciplina_nome" class="campoCadastro" name="" id="" placeholder="E-mail: email@web.com">
      </label>

      <label for="">
        <input class="campoCadastroDDD" type="text" name="DDD" size="2" maxlength="2" placeholder="11"> - <input type="text" name="Formulario_Nova_disciplina_nome" class="campoCadastrocel" name="" id="" placeholder="Celular: 9 ---- ---- ">
      </label>

      <label for="">
        <input type="text" name="Formulario_Nova_disciplina_nome" class="campoCadastro" name="" id="" placeholder="Nome da disciplina">
      </label>

      <label >
        <textarea rows="10" class="campoCadastro" placeholder="Digite aqui o porquê de querer essa disciplina na nossa faculdade" ></textarea>
      </label>

      <label for="">
        <input type="button" class="btn-login2" value="Enviar">
      </label>


    </div>
</section>

<section id="contato">
    <h2>Contato</h2>
    <p>Entre em contato conosco</p>
    <div>
      <img src="img/fone.png" alt="fone">
      <p><a href="tel:xx5555-5555">(11) 3254-8300</a></p>
    </div>
    <div>
      <img src="img/contato.png" alt="e-mail">
      <p><a href="mailto:teste@gmail.com">contato@impacta.com.br</a></p>
    </div>
  </section>
  <footer>
    <p style="font-size: 12px;">Projeto LMS by Black Lotus, 2018</p>
  </footer>

</body>
</html>
