<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pacifico|Roboto+Slab:400,700" rel="stylesheet">
    <!-- O normalize está em primeiro pela hierarquia, se estivesse em segundo algumas classes dele substituiriam a do estilo.css -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/estilo.css">
    <!-- Definindo o Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Tag Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/javaScript.js" defer async charset="utf-8"></script>
    <title>Matrícula| Faculdade Impacta Tecnologia</title>
</head>
<body>
  <nav>
    <a href="index.html"><img src="img/logo.jpg" class="logo" alt=""></a>
    <ul>
      <li><a href="GradeCursos.html">Cursos</a></li>
      <li><a class="#servicos" href="novo_curso.html">Novo Curso</a></li>
      <li><a href="nova_disciplina.html">Nova Disciplina</a></li>
      <li><a href="cadastrarAluno.html">Novo Aluno</a></li>
      <li><a href="matricula.html">Matrículas</a></li>
      <li><a class="btn-login" href="login.html">LOGIN</a></li>
    </ul>
  </nav>
  <section id="sobreTitulo">
    <h1>Matrícula</h1>
    <p>Sistemas de Informação | Gestão de Projetos | 2° 2018 | Turma A </p>
  </section>
        <form id="tabela" action="" method="post">

            <table>
                <tr>
                    <td>Nome: Kairis Bastini </td>
                    <td> RA :1800021</td>
                    <td>
                      <form>
                        <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                        <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>
                </tr>

                <tr>
                    <td>Nome: Homer Estim Lorm</td>
                    <td> RA :180019</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>Nome: Ciarus Niris Pereira </td>
                    <td> RA :1800119</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>

                <tr>
                    <td>Nome: Rochelle Cristi Everlim</td>
                    <td> RA :1800018</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>

                <tr>
                    <td>Nome: Carlos Souzones </td>
                    <td> RA :1800029</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                 </tr>

                 <tr>
                    <td>Nome: Dionir Marcianis </td>
                    <td> RA :1800007</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>

                <tr>
                    <td>Nome: Cleiton Bonis </td>
                    <td> RA :1800038</td>
                    <td>
                      <form>
                        <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                        <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>
                </tr>


                <tr>
                    <td>Nome: Manuel Maciel Neto</td>
                    <td> RA :1801719</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>Nome: Pedro Sanir Miki</td>
                    <td> RA :1801718</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>

                <tr>
                    <td>Nome: Yudi Tamashiro </td>
                    <td> RA :1801721</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>

                <tr>
                    <td>Nome: Priscila Masvak</td>
                    <td> RA :1801318</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                 </tr>

                 <tr>
                    <td>Nome: Saulo Marques Condeso</td>
                    <td> RA :1801321</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>
                <tr>
                    <td>Nome: Clark Kent </td>
                    <td> RA :1801010</td>
                    <td>
                      <form>
                        <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                        <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>
                </tr>


                <tr>
                    <td>Nome: Bruce Wayne </td>
                    <td> RA :1801883</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>Nome: Miguel Olivier Rantis</td>
                    <td> RA :1801707</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>

                <tr>
                    <td>Nome: Bino Camintis</td>
                    <td> RA :1801541</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>

                <tr>
                    <td>Nome: Guilherme Briggs</td>
                    <td> RA :1800532</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                 </tr>

                 <tr>
                    <td>Nome: Apoc Maltratis</td>
                    <td> RA :1800432</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>
                <tr>
                    <td>Nome: Bruce Banner </td>
                    <td> RA :1800332</td>
                    <td>
                      <form>
                        <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                        <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>
                </tr>


                <tr>
                    <td>Nome: Barry Allen</td>
                    <td> RA :1800771</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>Nome: Hisoka Naguro Piton</td>
                    <td> RA :1807701</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>

                <tr>
                    <td>Nome: Salomao Bilitris Salus</td>
                    <td> RA :1807702</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>

                <tr>
                    <td>Nome: Trupm Governantis America</td>
                    <td> RA :1801330</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                 </tr>

                 <tr>
                    <td>Nome: Putin Kvinik Misseis</td>
                    <td> RA :1805419</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>
                <tr>
                    <td>Nome: Sand Junior Sequel</td>
                    <td> RA :1803119</td>
                    <td>
                      <form>
                        <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                        <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>
                </tr>


                <tr>
                    <td>Nome: Otakai Fast </td>
                    <td> RA :1802119</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>Nome: Vanderson Souza </td>
                    <td> RA :1801404</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>

                <tr>
                    <td>Nome: Maicon Nutres Marta </td>
                    <td> RA :1801777</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>

                <tr>
                    <td>Nome: Arceus Poketis Marlin</td>
                    <td> RA :1801577</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                 </tr>

                 <tr>
                    <td>Nome: Leonardo Pereira Arcenio </td>
                    <td> RA :1801666</td>
                    <td>
                      <form>
                            <input type="radio" name="avaliacao" value="aprovado" checked>Aprovado
                            <input type="radio" name="avaliacao" value="reprovado">Cancelado
                      </form>
                    </td>

                </tr>

    </table>
          <div id="navegacao">
          <ul>
            <li><a href="matricula.html">1</a></li>
            <li><a href="pag2.html">2</a></li>
            <li><a href="pag3.html">3</a></li>
          </ul>
        </div>
        <div class="buttonForm">
          <button class="btn-login2" type="submit" name="button">Enviar</button>
        </div>
      </form>

  <footer>
    <p style="font-size: 12px;">Projeto LMS by Black Lotus, 2018</p>
  </footer>
</body>
</html>
